# Chave de API do Google Gemini
GEMINI_API_KEY=AIzaSyDDex81oHK8ryLOQ0KQmE367Z-stdm1J7U


# Chave de API do ElevenLabs (para clonagem de voz)
ELEVENLABS_API_KEY=sk_5a47230293b89281e8515aa8d8a3a653d64aeb49c296cd3f

# Configurações do Flask
FLASK_ENV=development
FLASK_DEBUG=True
