# Chave de API do Google Gemini
GEMINI_API_KEY=AIzaSyDDex81oHK8ryLOQ0KQmE367Z-stdm1J7U

# Chave de API do Google AI Studio para geração de vozes
# Configure como variável de ambiente no Vercel: GOOGLE_AI_STUDIO_API_KEY
GOOGLE_AI_STUDIO_API_KEY=sua_chave_api_aqui


# Chave de API do ElevenLabs (para clonagem de voz)
ELEVENLABS_API_KEY=sk_5a450c0c5b455893e0f173d87fd150e2855a7f359da929c0

# Configurações do Flask
FLASK_ENV=development
FLASK_DEBUG=True
